@import './../../styles/base/vars';

.projectTeaser {
  height: 100vh;
  overflow: hidden;
  border-bottom: 1px solid $color-brandWhite;
  position: relative;

  &_title {

    position: relative;
    left: -20px;
    display: inline-block;
    color: white;
    padding: $scale-1-4 $scale-1-2;
    background: $color-redPropertyAdvisers;
    transform: rotate( -1deg );
    opacity: 0;
    transition: opacity 0.3s ease-out, left 1s $animationBezier;
    font-weight: $fontWeight-medium;

    &-shown {

      opacity: 1;
      left: 0;

    }

  }

}
