@import './../../styles/base/vars';
@import './../../styles/utils/breakpoints';

.project {

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.9;
  }

  &_inner {
    padding: $scale-3-1 $scale-8-1;
    position: relative;
    z-index: 2;

    @include breakpoint( 'tabletBelow' ) { padding: $scale-3-1 $scale-6-1; }
    @include breakpoint( 'mobile' )      { padding: $scale-2-1 $scale-4-1; }
  }

  &_client {
    font-family: $fontFamily-display;
    font-size: $fontSize-display;
    font-weight: 400;
    letter-spacing: 2px;

    @include breakpoint( 'tabletBelow' ) { font-size: $fontSize-display-tablet; }
    @include breakpoint( 'mobile' )      { font-size: $fontSize-display-mobile; }
  }

  &_title {
    position: relative;
    left: -20px;
    display: inline-block;
    color: white;
    padding: $scale-1-4 $scale-1-2;
    background: $color-brandBlack;
    transform: rotate( -1deg );
    opacity: 0;
    transition: opacity 0.3s ease-out, left 1s $animationBezier;
    font-weight: $fontWeight-medium;

    &-shown {
      opacity: 1;
      left: 0;
    }
  }

  &_text {
    max-width: 400px;
  }

  &_link {
    position: absolute;
    bottom: $scale-4-1;
    left: 50%;
    transform: translateX( -50% );
  }
}
