{
  "globals": {
    "__DEVELOPMENT__": false,
    "__PRODUCTION__": false,
    "__STAGING__": false,
  },
  "extends": "airbnb",
  "rules": {
    "max-len": 0,
    "spaced-comment": 0,
    "no-nested-ternary": 0,
    "space-in-parens": 0,
    "padded-blocks": 0,
    "no-unused-vars": [2, {"args": "after-used", "argsIgnorePattern": "^_"}],
    "react/jsx-closing-bracket-location": [2, { selfClosing: "after-props", nonEmpty: "after-props" }],
  }
}
