@import './../../styles/base/vars';
@import './../../styles/utils/mixins';
@import './../../styles/base/buttons';

.button {

  &-primary {

    @extend %button;

  }

  &-secondary {}

  &-inactive {}

  &-link {
    color:  $color-brandDark;
    font-family: $fontFamily-body;
    font-size: $fontSize-xlarge;
    font-weight: $fontWeight-bold;
    letter-spacing: 1px;

    &:hover {
      text-decoration: none;
    }
  }

}
