@import './../../styles/base/vars';
@import './../../styles/base/buttons';

.button {

  &-primary { @extend %button; }

  &-secondary { @extend %buttonSecondary; }

  &-inactive {}

  &-link {
    color: $color-brandBlack;
    font-family: $fontFamily-system;
    font-size: $fontSize-base;
    font-weight: $fontWeight-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: e-resize;

    &:hover {

    }

  }

}
