@import './../../styles/base/vars';
@import './../../styles/base/buttons';

.button {

  &-primary {

    @extend %button;

  }

  &-secondary {}

  &-inactive {}

  &-link {
    color: $color-brandBlack;
    font-family: $fontFamily-system;
    font-size: $fontSize-base;
    font-weight: $fontWeight-bold;
    letter-spacing: 1px;
    cursor: e-resize;

    &:hover {
      text-decoration: none;
    }
  }

}
