@import './../../styles/base/vars';
@import './../../styles/utils/breakpoints';
@import './../../styles/utils/animations';

.menu {

  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 9999;

  width: $menuWidth;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba( 255, 255, 255, 0.97 );
  padding: $scale-3-1;
  padding-left: $scale-3-1;
  padding-bottom: 64px;

  &_backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    animation: fadeIn 0.3s ease-in;
    pointer-events: none;
    display: none; // Disabled for now
  }

  &_icon {
    position: absolute;
    bottom: auto;
    top: $scale-1-2;
    left: 20px;
    transform: translateX( -50% );

    @include breakpoint( 'mobile' ) {
      bottom: $scale-1-2;
      top: auto;
    }
  }

  &_list {

    &_element {
      margin-bottom: $scale;

      &_link {
        position: relative;
        font-family: $fontFamily-display;
        text-transform: uppercase;
        font-size: $fontSize-xlarge;
        text-decoration: none;
        color: $color-brandBlack;
        letter-spacing: 5px;
        transition: color 0.2s $animationBezier;

        &:hover {
          color: $color-brandBlack-lighter-2;
          animation: fadeOut 2s 0.2s forwards;
        }

        &:active { top: 1px; }

      }

    }

  }

}

// Animation
.menuAnimation-enter { transform: translateX(-$menuWidth); }

.menuAnimation-enter.menuAnimation-enter-active {

  transform: translateX(0);
  transition: transform 600ms $animationBezier;

}

.menuAnimation-leave { transform: translateX(0); }

.menuAnimation-leave.menuAnimation-leave-active {

  transform: translateX(-$menuWidth);
  transition: transform 400ms $animationBezier;

}
