@import './../../styles/base/vars';
@import './../../styles/utils/breakpoints';
@import './../../styles/utils/animations';

.menu {

  position: fixed;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 9999;

  max-width: 400px;
  height: 100vh;
  left: 0;
  top: 0;
  background: white;
  padding: $scale-3-1;
  padding-left: $scale-3-1;
  padding-bottom: 64px;

  &_list {

    &_element {
      margin-bottom: $scale;

      &_link {
        position: relative;
        font-family: $fontFamily-headline;
        font-size: $fontSize-xxlarge;
        text-decoration: none;
        color: $color-brandDark;
        letter-spacing: 6px;
        transition: color 0.2s $animationBezier;

        &:hover {
          color: $color-brandDark-darker-2;
          animation: fadeOut 2s 0.2s forwards;
        }

        &:active { top: 1px; }

      }

    }

  }

  &_icon {

    &-cross {
      position: absolute;
      bottom: $scale-2-1;
      left: $scale-3-1;

      & span {
        background: $color-brandDark;
      }

    }

  }

}

// Animation
$menuAnimation: transform 500ms $animationBezier;

.menuAnimation-enter { transform: translateX(-100vw); }

.menuAnimation-enter.menuAnimation-enter-active {

  transform: translateX(0);
  transition: $menuAnimation;

}

.menuAnimation-leave { transform: translateX(0); }

.menuAnimation-leave.menuAnimation-leave-active {

  transform: translateX(-100vw);
  transition: $menuAnimation;

}
