@import './../../styles/base/vars';
@import './../../styles/utils/breakpoints';
@import './../../styles/utils/animations';

.menu {

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  text-align: center;

  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba( 255, 255, 255, 0.97 );
  padding: $scale-3-1;
  padding-left: $scale-3-1;
  padding-bottom: 64px;

  &_list {

    &_element {
      margin-bottom: $scale;

      &_link {
        position: relative;
        font-family: $fontFamily-headline;
        font-size: $fontSize-xxlarge;
        text-decoration: none;
        color: $color-brandBlack;
        letter-spacing: 6px;
        transition: color 0.2s $animationBezier;

        &:hover {
          color: $color-brandBlack-lighter-2;
          animation: fadeOut 2s 0.2s forwards;
        }

        &:active { top: 1px; }

      }

    }

  }

}

// Animation
$menuAnimation: transform 500ms $animationBezier;

.menuAnimation-enter { transform: translateY(-100vw); }

.menuAnimation-enter.menuAnimation-enter-active {

  transform: translateY(0);
  transition: $menuAnimation;

}

.menuAnimation-leave { transform: translateY(0); }

.menuAnimation-leave.menuAnimation-leave-active {

  transform: translateY(-100vw);
  transition: $menuAnimation;

}
