@import './../../../../../../styles/utils/breakpoints';

.red {

  .devices {
    align-items: flex-end;
    display: flex;
    margin-bottom: -100px;

    @include breakpoint( 'mobile' ) { margin-bottom: auto; }
  }

  .device {
    &_wrap {
      &-iPhone {
        position: relative;
        right: -30%;
        z-index: 1; }
      &-iPad {}
    }
  }
}
