.red {

  .devices {
    align-items: flex-end;
    display: flex;
  }

  .device {
    &_wrap {
      &-iPhone {
        position: relative;
        right: -30%;
        z-index: 1; }
      &-iPad {}
    }
  }
}
