@import './../../styles/base/vars';

.hero {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: $viewportWidthFix;
  min-height: 100vh;
  overflow: hidden;
  // background-image: url( 'https://firebasestorage.googleapis.com/v0/b/type16-4b4eb.appspot.com/o/figurer.jpg?alt=media&token=86e29fcf-35eb-44d1-9fad-990dbedfe130' );
  // background-repeat: no-repeat;
  // background-size: cover;

}
