@import './../../styles/base/vars';
@import './../../styles/utils/helpers';
@import './../../styles/utils/animations';

$frameWidth: 20px;

@keyframes slideFrameIn {
  0%   { transform: translateX( -$frameWidth ); }
  100% { transform: translateX( 0 ); }
}

.frame {
  width: $viewportWidthFix;
  min-height: 100vh;
  border: $frameWidth solid $color-brandWhite;
  box-shadow: 0px 0px 100px 0px rgba( 0, 0, 0, 0.15 );
  z-index: -1;
  border-bottom: none;
  border-right: none;
  border-top: none;
  left: 0;
  transition: all 0.6s $animationBezier;
  transform: translateX( -$frameWidth );
  animation: slideFrameIn 1.2s $animationBezier forwards;

  &-fixed {

    position: fixed;
    top: 0;
    width: auto;
    z-index: 1;

  }

}
