@import './../../styles/base/vars';

.frame {

  width: $viewportWidthFix;
  min-height: 100vh;
  border: 10px solid white;
  z-index: -1;
  border-bottom: none;
  border-right: none;
  border-top: none;
  transition: border-color 0.6s ease-in;

  &-fixed {

    position: fixed;
    top: 0;

  }

}
