@import './../../styles/base/vars';
@import './../../styles/utils/breakpoints.scss';
@import './../../styles/utils/animations';

.logoWrap {
  width: 100%;
  text-align: center;
  opacity: 0;
  animation: subtleAlive 3s infinite, fadeIn 1.2s ease-in;
  animation-fill-mode: forwards;

  &_inner {

    & span {
      display: inline-block;
      font-family: $fontFamily-logo;
      font-size: $fontSize-xxxlarge;
      letter-spacing: 2px;
      color: $color-brandWhite-lighter-1;
      position: relative;
      top: 0;
    }

    & img {
      height: 73px;
      margin-left: 4px;

      @include breakpoint( 'mobileMedium' ) { height: 63px; }

      &:nth-child(1) { margin-bottom: 0px; }
      &:nth-child(2) { margin-left: 1px; }
      &:nth-child(5) { margin-left: 16px; }
    }

  }

}
