@import './../../styles/base/vars';
@import './../../styles/utils/animations';

.logoWrap {
  width: 100%;
  text-align: center;
  opacity: 0;
  animation: subtleAlive 3s infinite, fadeIn 1.2s ease-in;
  animation-fill-mode: forwards;

  & span {
    display: inline-block;
    font-family: $fontFamily-logo;
    font-size: $fontSize-xxxlarge;
    letter-spacing: 2px;
    color: $color-brandWhite-lighter-1;
    position: relative;
    top: 0;
  }

}
