@import './../../styles/base/vars';

.keywordBlocks {

  &_block {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    & h1 {
      font-family: $fontFamily-display;
      font-weight: 100;
    }
  }

}
