@import './../../styles/base/vars';

.keywordBlocks {

  &_block {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: $scale-4-1;
    text-transform: uppercase;
  }

}
