@keyframes fadeIn {
	0% 		{ opacity: 0; }
	100% 	{ opacity: 1; }
}

@keyframes fadeOut {
	0% 		{ opacity: 1; }
	100% 	{ opacity: 0; }
}

@keyframes spin {
	0% 		{ transform: rotate(0); }
	100% 	{ transform: rotate(360deg); }
}

@keyframes slideIn {
	0% 		{ transform: translateX(-100vw); }
	100% 	{ transform: translateX(0vw); }
}

@keyframes slideDown {
	0% 		{ transform: translate3d(0, -16px, 0); }
	100% 	{ transform: translate3d(0, 0, 0); }
}

@keyframes fadeOutAndRemove {
	0% 		{ opacity: 1; height: 100vh; }
	99%		{ height: 100vh; }
	100% 	{ opacity: 0; height: 0; }
}

@keyframes scaleUp {
	0% 		{ transform: scale(0); }
	100% 	{ transform: scale(1); }
}

@keyframes popUp {
	0% 		{ transform: scale(0); }
	80% 	{ transform: scale(1.2); }
	100% 	{ transform: scale(1); }
}

@keyframes slideUpToMiddle {
	0%   	{ transform: translate3d(0, 100%, 0); }
	100% 	{ transform: translate3d(0, 0%, 0); }
}

@keyframes subtleAlive {
	0% 		{ transform: translate3d(0, 0, 0); }
	30% 	{ transform: translate3d(0, -16px, 0); }
	100% 	{ transform: translate3d(0, 0, 0); }
}
