@import './../../styles/base/vars';

$headerHeight: 24px;

.header {

  height: $headerHeight;
  position: fixed;
  z-index: 9998;
  bottom: 60px;
  left: 50%;
  transform: translateX( -50% );

  &_icon {

    & span {
      background: $color-brandBlack;
    }

    &-chevron {

      position: absolute;
      top: 40px;
      left: 2px;
      transform: rotate( 180deg );

    }

  }

}
