@import './../../styles/base/vars';

$headerHeight: 24px;

.header {

  height: $headerHeight;
  position: fixed;
  z-index: 9998;
  bottom: 44px;
  left: $scale-3-1;

  &_icon {

    & span {
      background: $color-brandDark-darker-2;
    }

    &-chevron {

      position: absolute;
      top: 9px;
      left: 48px;
      transform: rotate( 180deg );

    }

  }

}
