@import './../../../../styles/base/vars';
@import './../../../../styles/utils/breakpoints';

.page-landing {

  .frame {
    max-height: 100vh;
    overflow: hidden;
  }

  .logoWrap { transform: rotate(90deg); }

  .project {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: center;
    background-size: cover;

    &:nth-child(3) {
      .project_client, .button { color: $color-brandWhite; }
      .button:after { color: $color-brandWhite !important; }
    }

    & .button {
      position: relative;

      &:after {
        content: "\2192";
        // background-image: url( './assets/arrow-long.svg' ) no-repeat;
        position: absolute;
        right: -24px;
      }
    }

    &_inner {
      height: 100%;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &_client {
      width: 100%;
      text-align: center;
      line-height: 1;
    }

  }

}
