@import './../../styles/base/vars';
@import './../../styles/utils/breakpoints';

.pageSection {
  display: flex;
  flex-wrap: wrap;
  padding: $scale-3-1 0;
  margin: 0 auto;

  & > * { padding: $scale; }

  // Content-widths
  @include breakpoint( 'desktop' )         { width: $contentWidth-desktop; }
  @include breakpoint( 'tablet' )          { width: $contentWidth-tablet; padding: $scale-2-1; }
  @include breakpoint( 'widescreen' )      { width: $contentWidth-widescreen; }
  @include breakpoint( 'extraWidescreen' ) { width: $contentWidth-extraWidescreen; }

  & h1 { margin-bottom: $scale-2-1; }}

// Grid
$cols: 2 3 4 5 6 8 12;
$spans: 0 1 2 3 4 5 6 7 8 9 10 11 12;
@each $col in $cols {
  @each $span in $spans {
      .pageSection-columns-#{$col} > *                        { max-width: percentage(1/$col) !important; } // Set num. of columns with 'columns="X"'
      .pageSection-columns-#{$col} > *.span-#{$span}          { max-width: percentage(1/$col * $span) !important; } // Set num. of columns to span for direct children
      .pageSection-columns-#{$col} > *.span-#{$span}-tablet   { @include breakpoint( 'tabletOnly' ) { max-width: percentage(1/$col * $span) !important; }}
      .pageSection-columns-#{$col} > *.span-#{$span}-mobile   { @include breakpoint( 'mobile' ) { max-width: percentage(1/$col * $span) !important; }}
      .pageSection-columns-#{$col} > *.offset-#{$span}        { margin-left: percentage(1/$col * $span) !important; } // Set num. of columns to offset
      .pageSection-columns-#{$col} > *.offset-#{$span}-tablet { @include breakpoint( 'tabletOnly' ) { margin-left: percentage(1/$col * $span) !important; }}
      .pageSection-columns-#{$col} > *.offset-#{$span}-mobile { @include breakpoint( 'mobile' ) { margin-left: percentage(1/$col * $span) !important; }}
  }
}
