@import './../../styles/base/vars';
@import './../../styles/utils/mixins';

.pageSection {

  display: flex;
  flex-wrap: wrap;
  padding: $scale-2-1 0;
  margin: 0 auto;

  @include breakpoint( 'desktop' ) {

    width: $contentWidth-desktop;

  }

  @include breakpoint( 'tablet' ) {

    width: $contentWidth-tablet;
    padding: $scale;

  }

  @include breakpoint( 'widescreen' ) {

    width: $contentWidth-widescreen;

  }

  @include breakpoint( 'extraWidescreen' ) {

    width: $contentWidth-extraWidescreen;

  }

  &-columns {

    & > * { padding: $scale; }
    &-2 > * { flex-basis: 50%; }
    &-3 > * { flex-basis: 33.33333%; }
    &-4 > * { flex-basis: 25%; }
    &-6 > * { flex-basis: 16.66666%; }
    &-8 > * { flex-basis: 12.5%; }
    &-12 > * { flex-basis: 8.33333%; }

  }

}
