@import './vars';

%buttonBase {

  position: relative;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  display: inline-block;
  font-family: $fontFamily-system;
  font-size: $fontSize-large;
  line-height: $fontSize-large - 2px;
  font-weight: $fontWeight-heavy;
  letter-spacing: 1px;
  outline: 0;
  padding: $scale-1-2 $scale;
  padding-bottom: $scale-1-2 + 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.1s ease-out;
  white-space: nowrap;

}

%button {

  @extend %buttonBase;

  color: white;
  background: $color-brandDark;
  border-color: lighten($color-brandDark, 4%);

  &:hover {
    // box-shadow: 0px 8px 12px -6px rgba($color-brandDark, 0.5);
    box-shadow: 0px 2px 0px 0px $color-brandDark-darker-2;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: none;
    transform: translateY(0px);
  }

}
