/* ----- Scale ----- */

$scale: 16px;

$scale-8-1: $scale * 8;
$scale-7-1: $scale * 7;
$scale-6-1: $scale * 6;
$scale-5-1: $scale * 5;
$scale-4-1: $scale * 4;
$scale-3-1: $scale * 3;
$scale-2-1: $scale * 2;

$scale-1-2: $scale / 2;
$scale-1-3: $scale / 3;
$scale-1-4: $scale / 4;
$scale-1-5: $scale / 5;
$scale-1-6: $scale / 6;
$scale-1-7: $scale / 7;
$scale-1-8: $scale / 8;

/* ----- Colors ----- */

// ----- Main
$color-brandDark: #0071BC; // Rød: #FF3E2F

// Main darker
$color-brandDark-darker-3: darken( $color-brandDark, 30% );
$color-brandDark-darker-2: darken( $color-brandDark, 20% );
$color-brandDark-darker-1: darken( $color-brandDark, 10% );

// Main lighter
$color-brandDark-lighter-1: lighten( $color-brandDark, 10% );
$color-brandDark-lighter-2: lighten( $color-brandDark, 20% );
$color-brandDark-lighter-3: lighten( $color-brandDark, 30% );

// ----- Complementary
$color-brandLight: #5BCFEB; // Rød: #FF9E96

// Complementary darker
$color-brandLight-darker-3: darken( $color-brandLight, 30% );
$color-brandLight-darker-2: darken( $color-brandLight, 20% );
$color-brandLight-darker-1: darken( $color-brandLight, 10% );

// Complementary lighter
$color-brandLight-lighter-1: lighten( $color-brandLight, 10% );
$color-brandLight-lighter-2: lighten( $color-brandLight, 20% );
$color-brandLight-lighter-3: lighten( $color-brandLight, 30% );

// ----- Black
$color-brandBlack: #111;

// Main darker
$color-brandBlack-darker-3: darken( $color-brandBlack, 30% );
$color-brandBlack-darker-2: darken( $color-brandBlack, 20% );
$color-brandBlack-darker-1: darken( $color-brandBlack, 10% );

// Main lighter
$color-brandBlack-lighter-1: lighten( $color-brandBlack, 10% );
$color-brandBlack-lighter-2: lighten( $color-brandBlack, 20% );
$color-brandBlack-lighter-3: lighten( $color-brandBlack, 30% );

// ----- White
$color-brandWhite: #ececec;

// Complementary darker
$color-brandWhite-darker-3: darken( $color-brandWhite, 30% );
$color-brandWhite-darker-2: darken( $color-brandWhite, 20% );
$color-brandWhite-darker-1: darken( $color-brandWhite, 10% );

// Complementary lighter
$color-brandWhite-lighter-1: lighten( $color-brandWhite, 10% );
$color-brandWhite-lighter-2: lighten( $color-brandWhite, 20% );
$color-brandWhite-lighter-3: lighten( $color-brandWhite, 30% );

// ----- Shadow
$color-shadow: #B1B1BF;

// Shadow darker
$color-shadow-darker-3: darken( $color-shadow, 30% );
$color-shadow-darker-2: darken( $color-shadow, 20% );
$color-shadow-darker-1: darken( $color-shadow, 10% );

// Shwadow lighter
$color-shadow-lighter-1: lighten( $color-shadow, 10% );
$color-shadow-lighter-2: lighten( $color-shadow, 20% );
$color-shadow-lighter-3: lighten( $color-shadow, 30% );

// ----- Clients
$color-redPropertyAdvisers: #e20613;

/* ----- Font-family ----- */

$fontFamily-logo: 'fatfrank', 'soleto', Helvetica, Arial, Verdana, sans-serif; // First one probably Typekit served
$fontFamily-display: 'balboa-plus-primary', 'fatfrank', 'soleto', Arial, Verdana, sans-serif; // First one probably Typekit served
$fontFamily-headline: 'soleto', Arial, Verdana, sans-serif; // First one probably Typekit served
$fontFamily-body: 'soleto', Georgia, serif; // First one probably Typekit served
$fontFamily-system: 'soleto', Courier, Helvetica, sans-serif; // First one probably Typekit served

/* ----- Font-size ----- */

$fontSize-display: 140px;
$fontSize-display-tablet: 80px;
$fontSize-display-mobile: 60px;

$fontSize-title: 48px;
$fontSize-subtitle: 28px;
$fontSize-body-copy: 18px;

$fontSize-xxxlarge: 60px;
$fontSize-xxlarge: 32px;
$fontSize-xlarge: 26px;
$fontSize-large: 20px;
$fontSize-base: 14px;
$fontSize-small: 12px;
$fontSize-xsmall: 11px;
$fontSize-xxsmall: 10px;

/* ----- Font-weight ----- */

$fontWeight-black: 900;
$fontWeight-heavy: 800;
$fontWeight-bold: 700;
$fontWeight-semibold: 600;
$fontWeight-medium: 500;
$fontWeight-normal: 400;
$fontWeight-book: 300;
$fontWeight-light: 200;
$fontWeight-thin: 100;

/* ----- Line-height ----- */

$lineHeight: 1.3;

/* ----- Border-radius ----- */

$borderRadius: 2px;

/* ----- Layout ----- */

$sectionPadding-topBottom: $scale;

$contentWidth-tablet: 100%;
$contentWidth-desktop: 720px; // 48px up to 768px
$contentWidth-widescreen: 976px; // 48px up to 1024px
$contentWidth-extraWidescreen: 1152px; // 48px up tp 1200px

$viewportWidthFix: calc( 100vw - 15px ); // 15px = scrollbar

/* ----- Menu ----- */

$menuWidth: 300px;

/* ----- Animation ----- */

$animationBezier: cubic-bezier(0.1, 0.95, 0.65, 1);
$animationBezier-easeOut-extreme: cubic-bezier(0, 0.8, 0.05, 0.95);
$animationSpeed: 250ms;
